@import "@/styles/global.scss";

.branches-section {
  background: #F4F4F6;
  padding: 40px 20px;
  font-family: var(--font-manrope);

  .branches-section-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .single-branch {
      background: #FFF;
      border: 1px solid #D9D9D9;
      border-radius: 20px;
      padding: 30px;
      width: 100%;
      max-width: 600px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
      text-align: left;

      .branch-title {
        font-size: 23px;
        font-weight: 700;
        color: var(--main-title-color, red);
        margin-bottom: 25px;

        .highlight {
          color: #00AECD;
        }
      }

      .branch-details {
        .contact-row {
          display: flex;
          gap: 40px; // Adjust spacing as needed
          align-items: flex-start;

          .email, .call-us {
            flex: 1;
            padding-bottom: 0; // Remove bottom padding for row items
          }
        }
        .label {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 6px;
          color: #666;
        }

        p,
        a {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.6;
          color: #000;
          letter-spacing: -0.5px;
          margin-bottom: 20px;
          text-decoration: none;
          display: block;
        }

        .email,
        .call-us,
        .address {
          padding-bottom: 15px;

          a,
          p {
            word-break: break-word;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .branches-section {
    .branches-section-wrap {
      // justify-content: space-between;

      .single-branch {
        flex: 0 0 48%;
      }
    }
  }
  
}

@media only screen and (min-width: 1200px) {
  .branches-section {
    padding: 0;

    .branches-section-wrap {
        // padding: 5%;
      padding: get-vw(50px) get-vw(90px) get-vw(100px);
      // padding: 5%;

      .single-branch {
        width: 49% ;
        padding: get-vw(40px) get-vw(80px);

        .branch-title {
          font-size: get-vw(42px);
          letter-spacing: get-vw(-0.8px);
        }

        .branch-details {
          .label {
            font-size: get-vw(18px);
            line-height: 103%;
            letter-spacing: get-vw(0.4px);
            padding-bottom: get-vw(10px);
          }

          p,
          a {
            font-size: get-vw(25px);
            line-height: 1.5;
            letter-spacing: get-vw(-1.5px);
          }

          .address,
          .email,
          .call-us {
            padding-bottom: get-vw(30px);
          }
        }
      }
    }
  }
}