@import "@/styles/global.scss";

.contact-form {
    background: #0e0c22;
    color: white;
    padding: 20px;
    border-radius: 10px;

    &__title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contact-form__grid {
        display: flex;
        // flex-direction: column;
        gap: 16px;
        flex-wrap: wrap;
    }

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            font-size: 14px;
            margin-bottom: 4px;

            span {
                color: red;
            }
        }

        input,
        select,
        textarea {
            background: transparent;
            border: none;
            border-bottom: 1px solid #ccc;
            color: white;
            padding: 8px 4px;
            font-size: 14px;
            outline: none;
        }
        select {
            width: 100%;
            max-width: 100%;
            min-width: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
        }
        option {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100vw;
         color: #000 !important;
        }
    }

    .full-width {
        margin-top: 16px;
    }

    .upload-box {
        border: 1px dashed #ccc;
        padding: 10px;
        text-align: center;
        cursor: pointer;
        color: white;
    }

    .file-note {
        float: right;
        font-size: 12px;
        color: #999;
    }

    .submit-btn {
        margin-top: 20px;
        text-align: center;

        button {
            background: #00d5ff;
            color: #fff;
            border: none;
            padding: 12px 24px;
            border-radius: 6px;
            font-size: 16px;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .contact-form__grid {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }

    .form-group {
        width: calc(50% - 12px);
    }

    .full-width {
        width: 100%;
    }
}

@media screen and (min-width: 990px) {
    .contact-form {
        padding: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .contact-form {
        padding: get-vw(80px);
        margin: get-vw(150px) get-vw(300px);

        &__title {
            font-size: get-vw(32px);
            margin-bottom: get-vw(40px);
        }
    }

    .form-group {
        label {
            font-size: get-vw(14px);
        }

        input,
        select,
        textarea {
            font-size: get-vw(14px);
            padding: get-vw(10px) get-vw(6px);
        }
    }

    .upload-box {
        padding: get-vw(20px);
    }

    .submit-btn button {
        padding: get-vw(16px) get-vw(32px);
        font-size: get-vw(18px);
    }
}