.custom-select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;

    .branch-select {
        // width: 100%;
        // padding-right: 40px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        // background: white;
        // border: 1px solid #ccc;
        // height: 40px;
        // font-size: 14px;
        // padding: 0 12px;
        cursor: pointer;
    }

    .custom-icon {
        position: absolute;
        right: 20px;
        top: 36%;
        transform: translateY(-50%);
        pointer-events: none;
        font-size: 12px;
        color: #333;
    }

    @media (min-width: 768px) {
        width: auto;
    }
}