@import "@/styles/global.scss";

.creative-collage {
    padding: 20px;
}

// Large Desktop - VW units
@media screen and (min-width: 1200px) {
    .creative-collage {
        padding: get-vw(40px) get-vw(100px);
    }
}

/* Main CSS */
.grid-wrapper>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper>div>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
    grid-auto-rows: 228px;
    grid-auto-flow: dense;

    img {
        object-position: top center;
    }
}

.grid-wrapper .wide {
    grid-column: span 1;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}