@import "@/styles/global.scss";

.course-details-wrapper {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 20px 50px 50px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: var(--font-poppins);
}

.left-course {
  .course-box-wrap {
    width: 100% !important;
    padding: 0 0 20px !important;
  }
}

.left-course-details {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .general-button {
    width: 100%;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.related-coures-div {
  h5 {
    color: #383636;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
  }
}

@media only screen and (max-width: 991px) {
  .left-course {
    flex-direction: column;
    box-shadow: 0 4px 10px 0 #0000002e;
    padding: 20px 0 0;
    border-radius: 15px;

    .left-course-img {
      width: 100%;

      img {
        object-position: top;
        object-fit: contain;

      }
    }

    .left-course-details {
      width: 100%;
      box-shadow: none;
    }
  }
}

@media only screen and (max-width: 450px) {
  .left-course {
    padding: 0;

    .left-course-img {
      img {
        object-position: top;
        object-fit: cover;
      }
    }
  }
}