.course-details-wrapper {
  border-radius: 20px;
  border: 1px solid #d9d9d9;
  background: #fff;
  padding: 20px 50px 50px;
  margin-bottom: 20px;
  font-size: 12px;
}

.left-course .course-box-wrap {
  width: 100% !important;
  padding: 0 0 20px !important;
}

.related-coures-div h5 {
  color: #383636;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
}
