@import "@/styles/global.scss";

.home-banner {
    position: relative;

    .full-wrap {
        .tab-section {
            position: relative;

            .tab-content {
                margin: 0 !important;
                padding: 0 !important;
                border: 0 !important;

                .tab-pane {
                    .banner-item {
                        position: relative;

                        .image-container {
                            img {
                                width: 100%;
                                height: 800px !important;
                                object-fit: cover;
                            }

                            &:after {
                                content: "";
                                position: absolute !important;
                                top: 0 !important;
                                background: linear-gradient(250deg, #00000000 0%, #0000002e 42.62%, #000000d4 100%) !important;
                                display: block;
                                right: 0;
                                left: 0;
                                height: 100%;
                                width: 100%;
                            }
                        }

                        .detail-container {
                            position: absolute;
                            left: 0;
                            top: 160px;
                            z-index: 2;

                            .detail-wrap {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                padding: 30px 40px;

                                img {
                                    width: auto;
                                    height: 120px;
                                    object-fit: cover;
                                }

                                .home-content {
                                    color: #FFF;
                                    font-family: var(--font-manrope);
                                    font-size: 30px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 45px;
                                    letter-spacing: -0.45px;
                                    padding-top: 15px;
                                    padding-bottom: 30px;
                                    text-align: center;
                                }

                                .search-wrapper {
                                    display: flex;
                                    display: none;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: 20px;

                                    .search-form-ajax {
                                        background: transparent;

                                        input {
                                            background: transparent;
                                            color: #fff;
                                        }
                                    }

                                    .button {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .button-sec {
                border-bottom: 1px solid rgba(255, 255, 255, 0.30);
                padding: 0 12px;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 999;

                .nav-tabs {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    padding: 30px 5px;
                    border-bottom: 0;

                    .nav-item {
                        width: 47%;
                        margin: 5px;

                        .nav-link {
                            border-radius: 5px;
                            background: rgba(186, 186, 186, 0.65);
                            padding: 10px 15px;
                            color: #fff;
                            font-family: var(--font-manrope);
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: normal;
                            text-transform: capitalize;
                            text-decoration: none;
                            border: none;
                            width: 100%;
                            transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
                            min-height: 70px;

                            &:hover {
                                transform: scale(1.02);
                            }

                            &.active {
                                font-weight: 600;
                                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                            }

                            svg {
                                transition: transform 0.3s ease;
                            }

                            &.active svg {
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 679px) {
    .home-banner {
        .full-wrap {
            .tab-section {
                .tab-content {
                    .tab-pane {
                        .banner-item {
                            .detail-container {
                                top: 320px;
                            }
                        }
                    }
                }

                .button-sec {
                    .nav-tabs {
                        .nav-item {
                            .nav-link {
                                min-height: auto;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .home-banner {
        min-height: 515px;

        .full-wrap {
            .tab-section {
                .tab-content {
                    .tab-pane {
                        .banner-item {
                            .image-container {
                                img {
                                    height: get-vw(824px) !important;
                                }
                            }

                            .detail-container {
                                width: 100%;
                                top: get-vw(90px);

                                .detail-wrap {
                                    align-items: flex-start;
                                    padding: get-vw(108px) get-vw(100px) get-vw(10px);

                                    img {
                                        width: get-vw(217px);
                                        height: get-vw(153px);
                                    }

                                    .home-content {
                                        font-size: get-vw(45px);
                                        line-height: get-vw(55px);
                                        letter-spacing: get-vw(-0.9px);
                                        padding-top: get-vw(15px);
                                        padding-bottom: get-vw(52px);
                                        width: get-vw(542px);
                                        text-align: left;
                                    }

                                    .search-wrapper {
                                        display: flex;
                                        display: none;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: flex-start;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                }

                .button-sec {
                    width: 100%;
                    border-bottom: get-vw(1px) solid rgba(255, 255, 255, 0.30);
                    padding: 0;
                    
                    .nav-tabs {
                        padding: get-vw(60px) get-vw(100px);
                        justify-content: flex-start;
                        
                        .nav-item {
                            width: auto;

                            .nav-link {
                                padding: get-vw(25px) get-vw(20px);
                                font-size: get-vw(17px);
                                margin-right: get-vw(5px);
                            }
                        }
                    }
                }
            }
        }
    }
}