@import "@/styles/global.scss";

.footer {
  background-color: #0c0b1e;
  color: white;
  position: relative;
  // font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  font-size: 14px;

  .footer-border {
    border-top: 5px solid #0c0b1e;
  }

  .footer-social {
    background-color: #00acc1;
    padding: 16px;

    .social-banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .hashtag {
        font-size: 45px;
        font-weight: bold;
        font-family: var(--font-manrope);
      }

      .social-icons {
        display: flex;
        border-radius: 8px;
        overflow: hidden;
        background-color: #0c0b1e;

        .icon {
          padding: 20px;
          border-left: 1px solid rgba(255, 255, 255, 0.1);
          display: flex;
          align-items: center;
          justify-content: center;

          &:first-child {
            border-left: none;
          }

          svg {
            color: white;
            font-size: 25px;
          }
        }
      }
    }
  }

  .footer-content-wrap {
    position: relative;
  }

  .footer-content {
    // display: block;
    padding: 24px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .column {
      margin-bottom: 24px;

      h4 {
        font-size: 16px;
        margin-bottom: 12px;
        font-weight: bold;
        font-family: var(--font-poppins);
      }

      p,
      li,
      a {
        font-size: 14px;
        color: white;
        margin-bottom: 8px;
        text-decoration: none;
        font-family: var(--font-manrope);

        strong {
          font-family: var(--font-poppins);
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
      }
    }

    .awards {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20px;
      flex-direction: column;

      h4 {
        margin: 0;
        padding-right: 8px;
        font-family: var(--font-poppins);
      }

      img {
        margin-top: 8px;
      }
    }

    .copyright {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-top: 20px;
      margin: 0;
      padding-right: 8px;
      font-family: var(--font-poppins);
    }

    .background-logo {
      display: none;
    }
  }

  .footer-bottom {
    background-color: #00acc1;
    text-align: left;
    padding: 10px;
    font-size: 12px;

    p {
      margin: 0;
      font-family: var(--font-poppins);

      a {
        text-decoration: none;
      }
    }

    strong {
      color: white;
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer {
    .footer-content {
      flex-direction: row;
      align-items: flex-start;
      text-align: left;

      .column {
        ul {
          list-style: disc;
          padding-left: 20px;
        }
      }

      .awards {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer {
    .footer-social {
      .social-banner {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .footer-content {
      padding: 48px 32px;

      .column {
        flex: 1;
        max-width: 220px;
        margin-right: 24px;
      }
    }
  }
}

@media only screen and (min-width: 990px) {
  .footer {
    .footer-content {
      justify-content: flex-start;

      .background-logo {
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
        user-select: none;

        img {
          width: auto;
          height: 200px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .footer {
    .footer-content {
      .background-logo {
        img {
          width: get-vw(778px);
          height: get-vw(520px);
          object-fit: cover;
        }
      }
    }
  }
}