@import "@/styles/global.scss";
// Add at the end of your style.scss

.member-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-modal-header-flex {
  display: flex;
  align-items: center;
  gap: 5%;
  text-align: left;
  padding: 5% 3%;

  .member-image {
    flex-shrink: 0;
  }
  .member-modal-details {
    flex: 1;
    h2{
      font-size: 16px;
      
    }
    .qualification {
       font-size: 16px;
          color: #949494 !important;
      }
  
  }
}
.member-image-modal{
  width:65px !important;
  height:65px !important;
}
.member-modal {
  background: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  max-width: 90vw;
  width: 90%;
  position: relative;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.member-modal-header {
  flex-shrink: 0;
}

.member-modal-body {
  overflow-y: auto;
  max-height: 60vh; // Adjust as needed
  margin-top: 20px;
  flex-grow: 1;
    padding: 0% 5%;
}
.close-btn {
  position: absolute;
  top: 0%;
  right: 2%;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}
.member-message {
  margin-top: 20px;
  font-size: 0.8rem;
  color: #333;
  text-align: justify;
}

.member-card {
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  .single-image-wrap {
    border-radius: 19.938px;
    border: 0.997px solid #d9d9d9;
    background: #fff;
    margin: 0 auto 20px;
    width: 95%;
    color: #4d4d4d;
    text-decoration: none;
    display: flex;
    flex-direction: column;

    .member-details {
      text-align: center;
      padding: 20px 10px;

      .name {
        font-family: var(--font-space-grotesk);
        font-weight: 500;
        font-size: 18px;
      }

      .position {
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-size: 16px;
      }

      .qualification {
        font-family: var(--font-space-grotesk);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
      }
    }

    .member-image {
      img {
        width: 100%;
        object-fit: cover;
        object-position: top;
        border-radius: 19.938px;
        height: 300px;
      }
    }
  }

  .single-massage {
    font-style: normal;
    font-weight: 400;
    padding: 0 20px;
  }
}

@media only screen and (min-width: 600px) {
  .member-card {
    width: 49%;
  }
  .member-image-modal{
    width:95px !important;
    height:95px !important;
  }
}

@media only screen and (min-width: 992px) {
   .member-image-modal{
    width:105px !important;
    height:105px !important;
  }
  .member-card {
    border-radius: get-vw(19.938px);
    border: get-vw(0.997px) solid #d9d9d9;
    width: 48%;
    margin-bottom: get-vw(40px);

    .single-image-wrap {
      border: 0 solid #d9d9d9;
      margin: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      .member-details {
        text-align: left;
        padding: 40px 20px 30px 60px;

        .name {
          font-size: get-vw(25px);
          font-style: normal;
          font-weight: 500;
          line-height: get-vw(28px);
          letter-spacing: get-vw(-0.997px);
        }

        .position {
          font-size: get-vw(16px);
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: get-vw(-0.32px);
        }

        .qualification {
          font-size: get-vw(16px);
          font-style: normal;
          letter-spacing: get-vw(-0.32px);
          font-weight: 400;
          line-height: normal;
        }
      }

      .member-image {
        img {
          height: 350px;
          object-fit: contain;
        }
      }
    }

    .single-massage {
      width: calc(100% - get-vw(500px));
      font-size: get-vw(18px);
      font-style: normal;
      font-weight: 400;
      line-height: get-vw(25px);
      padding: get-vw(90px) get-vw(151px);
    }
  }
  .member-modal-header-flex {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: left;
  padding: 2% 3%;

  .member-image {
    flex-shrink: 0;
  }
  .member-modal-details {
    flex: 1;
    h2{
      font-size: 21px;
      
    }
    .qualification {
       font-size:21px;
          color: #949494 !important;
      }
  }
}
.member-message {
  margin-top: 20px;
  font-size: 1rem;
  color: #333;
}
}

@media only screen and (min-width: 1200px) {
 .member-image-modal{
    width:135px !important;
    height:135px !important;
  }
.member-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.member-modal-header-flex {
  display: flex;
  align-items: center;
  gap: 24px;
  text-align: left;
  padding: 2% 3%;

  .member-image {
    flex-shrink: 0;
  }
  .member-modal-details {
    flex: 1;
    h2{
      font-size: 25px;
      
    }
    .qualification {
       font-size:25px;
          color: #949494 !important;
      }
  }
}
.member-modal {
  background: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  max-width: 90vw;
  width: 90%;
  position: relative;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.member-modal-header {
  flex-shrink: 0;
}

.member-modal-body {
  overflow-y: auto;
  max-height: 60vh; // Adjust as needed
  margin-top: 20px;
  flex-grow: 1;
    padding: 0% 5%;
}
  .landing-results-inner.academics-mamber-group .member-card {
    width: 32%;
  }

  .member-card {
    width: 24%;

    .single-image-wrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .member-details {
        padding: get-vw(50px) get-vw(50px) get-vw(50px) get-vw(50px) !important;
        min-height: 170px;
      }

      .member-image {
        img {
          height: get-vw(350px);
        }
      }
    }
  }
}