@import "@/styles/global.scss";

.academics-page-section {
    .landing-wrap {
        overflow: visible;

        .landing-filter {
            width: 20%;
            padding-right: 5%;
        }

        .landing-results {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;

            .academics-mamber-group {
                justify-content: space-between;
                width: 100%;
            }
        }
    }
}