@import "@/styles/global.scss";

.academics-page-section {
  .landing-wrap {
    overflow: visible;

    .landing-filter {
      width: 20%;
      padding-right: 5%;
    }

    .landing-results {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;

      .academics-mamber-group {
        justify-content: flex-start;
        width: 100%;
        gap: 5px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .academics-page-section {
    .landing-results-top {
      align-items: center;
    }

    .landing-wrap {
      .landing-filter {
        width: 100%;
      }

      .landing-results {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .academics-page-section {
    .section-heading {
      font-size: 65px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .acadamic-member-section {
    .landing-results-inner {
      .academics-mamber-group {
        .member-card {
          width: 100%;
        }
      }
    }
  }
}


@media only screen and (min-width: 1024px) {
  .academics-page-section {
    .landing-wrap {
      .landing-results {
        .academics-mamber-group {
          gap: get-vw(24px);

          .member-card {
            margin-bottom: 0;
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 992px) and (max-width: 1366px) {
  .academics-page-section {
    .landing-wrap {
      .landing-filter {
        width: 25% !important;
        padding-right: 2% !important;

        .att-box-wrapper {
          .attribute-box {
            .attribute-box-check {
              align-items: baseline;

              label {
                font-size: 12px !important;
              }
              input[type=checkbox]{
                &::before{
                  top: 5px;
                }        
              }
            }
          }
        }
      }

      .landing-results {

        width: 74% !important;

        .academics-mamber-group {}
      }
    }
  }
}