@import "@/styles/global.scss";

.academics-page-section {
  .landing-wrap {
    overflow: visible;

    .landing-filter {
      width: 20%;
      padding-right: 5%;
    }

    .landing-results {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;

      .academics-mamber-group {
        justify-content: flex-start;
        width: 100%;
        gap: 5px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .academics-page-section {
    .landing-results-top {
      align-items: center;
    }

    .landing-wrap {
      .landing-filter {
        width: 100%;
      }

      .landing-results {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .academics-page-section {
    .section-heading {
      font-size: 65px;
    }
  }
}

@media only screen and (max-width: 450px) {
  .acadamic-member-section {
  .landing-results-inner {
    .academics-mamber-group {
      .member-card {
        width: 100%;
      }
    }
  }
}
}