.section-heading {
    span {
        color: #383636;
        font-family: Poppins;
        font-size: 100px;
        font-style: normal;
        font-weight: 800;
        line-height: 80px;
        /* 80% */
        letter-spacing: -6px;

        color: #02AEC9;
        font-family: Poppins;
        font-size: 100px;
        font-style: normal;
        font-weight: 800;
        line-height: 80px;
        letter-spacing: -6px;
    }
}

.accordion-button,
.accordion-button:not(.collapsed) {
    color: #fff;
    font-weight: bold;
}

.section-heading--underline {
    text-align: center;
}