@import "@/styles/global.scss";

.course-section {
  .section-heading--underline {
    text-align: center;
    color: #14549f;
  }

  .show-mobile-filter {
    transform: translateX(0);
    visibility: visible;
    padding-top: 40px;

  }

  .course-box-wrap {
    width: 100%; // Mobile default (≤ 499px)
  }

  .mobile-filter-btn {
    background-color: red;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 15px;
    border: none;

    @media (min-width: 992px) {
      display: none;
    }
  }
}

// Tablet small (≥ 500px): 50% width (2 columns)
@media (min-width: 500px) {
  .course-section {
    .course-box-wrap {
      width: 50%;
    }
  }
}

// Tablet medium (≥ 768px): 33.3% width (3 columns)
@media (min-width: 768px) {
  .course-section {
    .course-box-wrap {
      width: 33.3%;
    }
  }
  .our-couses-section{
    .small-middle-wrap{
      .landing-wrap{
        .landing-results{
          .landing-results-inner{
            .course-box-wrap{
              width: 33.3% !important;
            }
          }
        }
      }
    }
  }
}
