@import "@/styles/global.scss";

.stats-section {
    // background-color: #f9f9fb;
    padding: 20px 16px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.stat-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
        border-bottom: none;
    }

    .stat-icon {
        font-size: 20px;
    }

    .stat-number {
        font-weight: 700;
        font-size: 18px;
        color: #e60028;
        margin-left: auto;
        margin-right: 12px;
        text-align: right;
    }

    .stat-label {
        font-size: 14px;
        color: #333;
    }
}

// Medium (Tablet)
@media screen and (min-width: 768px) {
    .stats-container {
        flex-direction: row;
        justify-content: space-between;
        padding: 24px;
    }

    .stat-box {
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: none;
        width: 100%;

        .stat-number {
            margin: 8px 0;
            font-size: 20px;
        }

        .stat-label {
            font-size: 14px;
            text-align: right;
        }
    }
}

// Large
@media screen and (min-width: 990px) {
    .stats-section {
        padding: 40px;
    }

    .stat-box .stat-number {
        font-size: 24px;
    }

    .stat-box .stat-label {
        font-size: 16px;
    }
}

// Extra Large (Desktop)
@media screen and (min-width: 1200px) {
    .stats-section {
        padding: get-vw(0px) get-vw(80px) get-vw(80px);
    }

    .stats-container {
        padding: get-vw(40px);
        border-radius: get-vw(16px);
    }

    .stat-box {
        gap: get-vw(8px);

        .stat-icon {
            font-size: get-vw(24px);
        }

        .stat-number {
            font-size: get-vw(40px);
            text-align: center;
        }

        .stat-label {
            font-size: get-vw(16px);
            text-align: center;
        }
    }
}