@import "@/styles/global.scss";


.our-strategic-team {
    padding: 20px 16px;

    .members-wrap {
        display: flex;
        flex-wrap: wrap;
        // gap: 32px;
        margin-top: 32px;
        justify-content: center;
    }

    .member-card-item {
        flex: 0 1 320px;
        max-width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .our-strategic-team {
        padding: get-vw(0px) get-vw(100px) get-vw(80px);

        .full-wrap {
            .title-wrap {
                p {
                    font-size: get-vw(16px);
                    font-weight: 600;
                }
            }
        }

        .members-wrap {
            justify-content: start;
             .member-card {
            .single-image-wrap {
                .member-image {
                    img {
                        object-fit: contain;
                    }
                }
            }
        }
        }

       
    }
}