@import "@/styles/global.scss";

.our-strategic-team {
    padding: 20px 16px;
}

@media screen and (min-width: 1200px) {
    .our-strategic-team {
        padding: get-vw(80px) get-vw(100px);
    }
}

.members-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; // Center the cards
  gap: 32px;               // Adjust gap as needed
  margin-top: 32px;
}

.member-card-item {
  flex: 0 1 320px;         // Or your preferred card width
  max-width: 100%;
}