@import "@/styles/global.scss";

.upcoming-events-section {
  padding: 20px;

  .upcoming-events-wrap {
    display: flex;
    flex-direction: column;

    .title-wrap {
      .title-wrapper {
        .main-title-large {
          justify-content: flex-start;
        }

      }

    }

    .image-block {
      order: 1;
      margin-bottom: 24px;
    }

    .calendar-block {
      order: 2;
    }
  }

  .calendar-block {
    flex: 1;

    .calendar-styled {
      width: 100%;
      max-width: 550px;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 0px;
    }

    .react-calendar {
      border: none;
      width: 100%;
      font-family: inherit;
      background: #fff;
      box-shadow: 0 4px 24px rgba(2, 174, 201, 0.08);
      padding: 18px;
      border-radius: 20px;

      abbr[title] {
        text-decoration: none;
      }

      .event-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 4px;
      }

      .react-calendar__tile {
        border-radius: 10px;
        transition: background 0.2s, color 0.2s;
        font-weight: 600;
        font-size: 15px;
        color: #222;
        padding: 25px 0;
      }

      .react-calendar__tile--active,
      .react-calendar__tile:focus {
        background: var(--main-title-color, red) !important;
        color: #fff !important;
      }

      .react-calendar__tile--now {
        background: #f7fafd;
        color: var(--main-title-color, red);
      }

      .react-calendar__tile--hasActive {
        background: #e0f7fa;
      }

      .react-calendar__tile.calendar-has-event {
        background: #e0f7fa;
        border: 1.5px solid var(--main-title-color, red);
      }

      .react-calendar__tile.has-event {
        color: #fff !important;
      }

      .react-calendar__tile.has-event-F7B733 {
        background: #F7B733 !important;
        color: #222 !important;
      }

      .react-calendar__month-view__days__day--weekend {
        color: #F7B733;
      }

      .react-calendar__navigation {
        margin-bottom: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .react-calendar__navigation__label {
          order: 1;
          margin-right: auto;
        }

        .react-calendar__navigation__prev2-button,
        .react-calendar__navigation__prev-button,
        .react-calendar__navigation__next-button,
        .react-calendar__navigation__next2-button {
          order: 2;
          margin-left: 4px;
        }

        button {
          border-radius: 8px;
          background: #f7fafd;
          color: var(--main-title-color, red);
          font-weight: 700;
          font-size: 16px;
          border: none;
          padding: 20px 20px;
          transition: background 0.2s;

          &:hover {
            background: #e0f7fa;
          }
        }
      }

      .react-calendar__navigation__prev2-button,
      .react-calendar__navigation__next2-button {
        display: none;
      }
    }

    .event-list {
      max-height: 250px;
      overflow-y: auto;
      padding-right: 8px;

      .event-item {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        .dot {
          width: 12px;
          height: 12px;
          margin-right: 1%;
          display: inline-block;
        }

        .event-date-label {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-right: 14px;
          min-width: 48px;
          font-size: 14px;
          font-weight: 400;
          color: #757575;
          line-height: 1;
        }

        .details {
          strong {
            font-size: 16px;
            color: #222;
            display: block;
            font-weight: 600;
          }
        }
      }

      .event-divider {
        height: 1px;
        background: #e0e0e0;
        margin: 12px 0;
        width: 100%;
      }
    }
  }

  .image-block {
    flex: 1;
    display: flex;
    justify-content: center;

    .event-image {
      width: 100%;
      max-width: 650px;
      border-radius: 20px;
      object-fit: cover;
      max-height: 300px !important;
      object-position: top;

    }
  }
}

.title-wrap.mobile {
  margin-bottom: 40px;
}

.react-calendar__tile {
  position: relative;
  z-index: 1;
}

.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
}


// Tablet and below
@media (max-width: 991px) {
  .upcoming-events-section {
    .upcoming-events-wrap {
      flex-direction: column;

      .image-block {
        order: 1;
        margin-bottom: 24px;

        .event-image {
          max-height: 500px !important;
        }
      }

      .calendar-block {
        order: 2;
      }
    }

    .calendar-block {
      .calendar-styled {
        max-width: 100%;
        aspect-ratio: unset;
        margin: 0 0 30px 0;
      }

      .react-calendar {
        padding: 8px;
        border-radius: 12px;

        .react-calendar__tile {
          font-size: 13px;
          padding: 10px 0;
        }

        .react-calendar__navigation {
          button {
            font-size: 13px;
            padding: 10px 10px;
          }
        }
      }

      .event-list {
        max-width: 100%;


        .event-item {
          .event-date-label {
            font-size: 12px;
            min-width: 36px;
          }

          .details {
            strong {
              font-size: 13px;
            }
          }
        }
      }
    }

    .image-block {
      .event-image {
        max-width: 100%;
        max-height: 500px;
        border-radius: 12px;
      }
    }
  }

  .title-wrap.web {
    display: none;
  }
}

// Desktop and up
@media (min-width: 991px) {
  .upcoming-events-section {
    padding: get-vw(60px) get-vw(40px) !important;

    .upcoming-events-wrap {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 40px;


      .image-block {
        order: 2;
        margin-bottom: 0;
        display: none;
      }

      .calendar-block {
        order: 1;

        .title-wrap {
          padding-bottom: get-vw(40px);
        }

        .calendar-event-row {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .event-list {
            width: 48%;
            max-height: 100%;
          }

          .calendar {
            width: 48%;

          }
        }
      }
    }

    .image-block {
      .event-image {
        max-width: 100%;
        min-height: 700px;
        border-radius: 12px;
      }
    }
  }

  .title-wrap.mobile {
    display: none;
  }

  .title-wrap.web {
    .main-title-large {
      align-items: left;
    }
  }
}


// Extra large screens
@media (min-width: 1200px) {
  .upcoming-events-section {
    padding: get-vw(60px) get-vw(120px) get-vw(60px) !important;

    .calendar-block {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 0;

      .title-wrap.web {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        min-width: 220px;
        flex: 0 0 auto;
        padding-right: 0;
      }

      .calendar-event-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 48px;
        width: 100%;

        .calendar-styled {
          margin: 0;
          flex: 0 0 auto;
        }

        .event-list {
          margin-top: 5%;
          flex: 1 1 0;
          max-width: get-vw(500px);
          max-height: get-vw(450px);
          overflow-y: auto;
          padding-right: get-vw(8px);
        }
      }
    }

    .image-block {
      flex: 0 0 35%;
    }
  }
}

@media (min-width: 1360px) {
  .upcoming-events-section {
    .upcoming-events-wrap {
      .calendar-block {
        .react-calendar {
          .react-calendar__tile {
                padding: get-vw(20px) 0;
          }
        }

        .calendar-event-row {
          .calendar {
            .react-calendar {}
          }

          .event-list {
            margin-top: 0 !important;
            width: 50% !important;
            max-height: get-vw(600px);

            .details {
              strong {
                font-size: get-vw(18px);
              }
            }
          }
        }
      }

      .image-block {
        display: block !important;
        .event-image{
          min-height: get-vw(800px);
        }
      }
    }
  }
}
@media (min-width: 1536px) {
  .upcoming-events-section {
    .upcoming-events-wrap {
      .image-block {
     
        .event-image{
          min-height: get-vw(740px);
        }
      }
    }
  }
}
@media (min-width: 1900px) {
  .upcoming-events-section {
    .upcoming-events-wrap {
      .image-block {
     
        .event-image{
          min-height: get-vw(680px);
        }
      }
    }
  }
}