@import "../../styles/global.scss";


.inner-banner {
    .full-wrap {
        .inner-banner-image {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, #0A0A0C -5.45%, rgba(10, 10, 12, 0.00) 69.54%);
            }
            picture {
                img {
                    height: 400px;
                }
            }
        }
        .inner-banner-content {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 0 20px 40px;
            h1 {
                position: relative;
                color: #FFF;
                text-align: center;
                font-weight: 700;
                font-family: "Space Grotesk";
                span{
                    color: #02AEC9;;
                    font-weight: 700;
                    font-family: "Space Grotesk";
                }
            }
            div {
               position: relative;
               color: #FFF;
               text-align: center;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .inner-banner {
        .full-wrap {
            .inner-banner-image {
                &::after {
                    content: '';
                
                }
                picture {
                    img {
                        height: get-vw(617px);
                        object-fit: cover;
                    }
                }
            }
            .inner-banner-content {
              
                h1 {
                    color: #FFF;
                    font-size: get-vw(120px);
                    line-height: get-vw(90px); 
                    letter-spacing: get-vw(-9.6px);
                    span{
                        
                    }
                }
                div {
                    padding-top: get-vw(30px);
                    width: get-vw(909px);
                    color: #FFF;
                    font-size: get-vw(20px);
                    line-height: get-vw(26px); 
                    letter-spacing: get-vw(-0.4px);
                    margin: 0 auto;
                   
                }
            }
        }
    }
}