.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.modal__content {
    position: relative;
    max-width: 960px;
    width: 100%;
    z-index: 999;
    animation: fadeInUp 0.3s ease-in-out;
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 22px;
    font-size: 30px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 1000;
    font-weight: 900;
}

.open-modal-button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}