.rooster-search {
    padding: 0.6rem 1rem;
    width: 100%;
    border: 1 px solid #fff;
    outline: 0;
}

.rooster-job {
    padding: 1.4rem 0rem;
}
.rooster-job:not(:last-child) {
    border-bottom: 1px solid #eeeeee;
}
.rooster-job a {
    color: rgb(10, 10, 10);
    text-decoration: none;
}
.rooster-job h3 {
    padding: 0;
    margin: 0 0 0.4rem 0;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}
.rooster-job h4 {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
}
.rooster-department-header {
    font-size: 1.4rem;
    margin: 0px;
    padding: 2rem 0rem 0rem;
    color: rgb(21, 178, 211);
}
.rooster-department-header h3 {
    margin-bottom: 0px;
    font-weight: 700;
}
.rooster-job .data-row {
    padding: 0rem 0rem 0.4rem 0rem;
    font-size: 0.924rem;
}
.rooster-job .inline-value {
    padding-right: 0.6rem;
    margin-right: 0.6rem;
    color: rgba(10, 10, 10, 1);
}
.rooster-job .inline-value:not(:last-child) {
    border-right: 1px solid rgba(10, 10, 10, 0.1);
}

.rooster-job .chip {
    margin-right: 10px;
    font-size: 0.8em;
    color: #5e6062;
    border: none !important;
    padding: 5px 10px;
    display: inline-block;
    margin-bottom: 5px;
    line-height: 1em;
    background: #f9f9f9;
}