@import "@/styles/global.scss";

.headoffice-section {
  
  &::after {
    content: "";
    position: absolute;
    top: 25%;
    height: 30%;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 20%;
    width: 100%;
    background: linear-gradient(90deg, rgba(176, 216, 226, 0.00) 0%, #B0D8E2 28.37%, #ADD5DF 100%);
    background-size: cover;
  }

  .headoffice-section-wrap {
    padding-top: 40px;
    // padding-bottom: 40px;

    .headoffice-title-wrap {
      .headoffice-title {
        color: #02AEC9;
        font-size: 50px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -4px;
        text-transform: capitalize;
        text-align: center;

        span {
          color: #383636;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -2.696px;

          strong {
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -2.696px;
          }
        }
      }


      img {
        width: 100%;
        object-fit: contain;
        height: auto;
      }
    }

    .headoffice-details {
      padding: 0 20px;
      width: 100%;
      margin-left: auto;
      margin-top:get-vw(-80px);
      margin-bottom: 6%;

      .single-branch {
        border-radius: 20px;
        // border: 1px solid #D9D9D9;
        // background: #FFF;
        // padding: 20px;
        // margin-bottom: 20px;
        // text-align: center;

        .branch-title {
          text-align: center;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.8px;
          color: #00AECD;
          margin-bottom: 20px;
          // text-align: center;
           margin-top: 5%;

        }

        .branch-details {
         
          text-align: center;
          .address {
            padding-bottom: 10px;

            p {
              margin-bottom: 0;
            }

            .label {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.4px;
              margin: 0;
              padding-bottom: 5px;
            }

            p {
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -1.5px;
              text-decoration: none;
              color: #000;
            }
          }

          .email {
            padding-bottom: 10px;

            .label {
              margin-bottom: 0;
              padding-bottom: 5px;
            }

            a {
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -1.5px;
              text-decoration: none;
              color: #000;
              cursor: pointer !important;
            }
          }

          .call-us {
            padding-bottom: 0px;

            .label {
              margin-bottom: 0;
              padding-bottom: 5px;
            }

            a {
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: 30.9px;
              letter-spacing: -1.5px;
              text-decoration: none;
              color: #000;
              cursor: pointer !important;
            }
          }
        }
      }
    }

    .social-media {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: max-content;
        margin: auto;
        padding: 0;

        li {
          a {
            img {
              width: 50px;
              height: 50px;
              object-fit: contain;
              margin: 0 10px;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

.headoffice-section {
  min-height: get-vw(780px);

 
  &::after {
    content: "";
    position: absolute;
    top: 25%;
    height: 35%;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 20%;
    width: 100%;
    background: linear-gradient(90deg, rgba(176, 216, 226, 0.00) 0%, #B0D8E2 28.37%, #ADD5DF 100%);
    background-size: cover;
  }

  .headoffice-section-wrap {
    padding-top: 40px;
    // padding-bottom: 40px;

    .headoffice-title-wrap {
      .headoffice-title {
        color: #02AEC9;
        font-size: 70px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        letter-spacing: -4px;
        text-transform: capitalize;
        text-align: center;

        span {
          color: #383636;
          font-size: 50px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -2.696px;

          strong {
            font-size: 50px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            letter-spacing: -2.696px;
          }
        }
      }


      img {
        width: 100%;
        object-fit: contain;
        height: auto;
      }
    }

    .headoffice-details {
      padding: 0 20px;
      width: 100%;
      margin-left: auto;
      margin-top:get-vw(-80px);
      margin-bottom: 6%;

      .single-branch {
        border-radius: 20px;
        // border: 1px solid #D9D9D9;
        // background: #FFF;
        // padding: 20px;
        // margin-bottom: 20px;
        // text-align: center;

        .branch-title {
          text-align: center;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -0.8px;
          color: #00AECD;
          margin-bottom: 20px;
          // text-align: center;
          //  margin-top: 5%;

        }

        .branch-details {
         
          text-align: center;
          .address {
            padding-bottom: 10px;

            p {
              margin-bottom: 0;
            }

            .label {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.4px;
              margin: 0;
              padding-bottom: 5px;
            }

            p {
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -1.5px;
              text-decoration: none;
              color: #000;
            }
          }

          .email {
            padding-bottom: 10px;

            .label {
              margin-bottom: 0;
              padding-bottom: 5px;
            }

            a {
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: normal;
              letter-spacing: -1.5px;
              text-decoration: none;
              color: #000;
              cursor: pointer !important;
            }
          }

          .call-us {
            padding-bottom: 0px;

            .label {
              margin-bottom: 0;
              padding-bottom: 5px;
            }

            a {
              font-size: 22px;
              font-style: normal;
              font-weight: 600;
              line-height: 30.9px;
              letter-spacing: -1.5px;
              text-decoration: none;
              color: #000;
              cursor: pointer !important;
            }
          }
        }
      }
    }

    .social-media {
      ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: max-content;
        margin: auto;
        padding: 0;

        li {
          a {
            img {
              width: 50px;
              height: 50px;
              object-fit: contain;
              margin: 0 10px;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
}
  

@media only screen and (min-width: 1200px) {
  .headoffice-section {
    // padding-top: get-vw(90px);
    min-height: get-vw(780px);

    &::after {
    height: get-vw(360px);
      top: get-vw(275px);

    }

    .headoffice-section-wrap {
      .headoffice-title-wrap {
        .headoffice-title {
          font-size: get-vw(158.228px);
          font-style: normal;
          font-weight: 900;
          line-height: get-vw(80.19px);
          letter-spacing: get-vw(-8.911px);
          text-align: start;
          padding-left: get-vw(160px);

          // font-size: get-vw(258.228px);
          // font-style: normal;
          // font-weight: 900;
          // line-height: get-vw(80.19px);
          // letter-spacing: get-vw(-12.911px);
          // text-align: start;
          // padding-left: get-vw(160px);
          span {
            font-size: get-vw(94.931px);
            letter-spacing: get-vw(-5.696px);
            padding-left: get-vw(13px);

            strong {
              font-size: get-vw(94.931px);
              letter-spacing: get-vw(-5.696px);
            }
          }
        }

        img {
          width: get-vw(1128px);
          height: get-vw(550px);
          position: absolute;
          top: get-vw(120px);
          left: get-vw(-50px);

        }
      }

      .headoffice-details {
        width: 45%;
        .single-branch {

        .branch-title {
          font-size: 30px;
          text-align: left;
        }
         
        .address {
           padding-top: 1%;
            text-align: left;
          .label {
            font-size: 18px !important;
          }

          p {
            font-size: 20px!important;
          }
        }

        .email {
           text-align: left;
        //  padding-top: 1%;
          .label {
             font-size: 18px !important;
          }

          a {
            font-size: 20px!important;
          }
        }
        .call-us {
           text-align: left;
      //  padding-top: 1%;
          .label {
            font-size: 18px !important;
          }

          a {
            font-size: 20px!important;
          }
        }
        }
      }

      .social-media {
        ul {
          li {
            a {
              img {}
            }
          }
        }
      }
    }
  }

}


@media only screen and (min-width: 1600px) {
  .headoffice-section {
    // padding-top: get-vw(90px);
    min-height: get-vw(780px);

    &::after {
      height: get-vw(340px);
      top: get-vw(275px);

    }

    .headoffice-section-wrap {
      .headoffice-title-wrap {
        .headoffice-title {
          font-size: get-vw(158.228px);
          font-style: normal;
          font-weight: 900;
          line-height: get-vw(80.19px);
          letter-spacing: get-vw(-8.911px);
          text-align: start;
          padding-left: get-vw(160px);

          // font-size: get-vw(258.228px);
          // font-style: normal;
          // font-weight: 900;
          // line-height: get-vw(80.19px);
          // letter-spacing: get-vw(-12.911px);
          // text-align: start;
          // padding-left: get-vw(160px);
          span {
            font-size: get-vw(94.931px);
            letter-spacing: get-vw(-5.696px);
            padding-left: get-vw(13px);

            strong {
              font-size: get-vw(94.931px);
              letter-spacing: get-vw(-5.696px);
            }
          }
        }

        img {
          width: get-vw(1128px);
          height: get-vw(550px);
          position: absolute;
          top: get-vw(120px);
          left: get-vw(-50px);

        }
      }

      .headoffice-details {
       
      .single-branch {

        .branch-title {
          font-size: 40px;
        }
        .address {
           padding-top: 4%;
          .label {
            font-size: 20px !important;
          }

          p {
            font-size: 30px!important;
          }
        }

        .email {
         padding-top: 1%;
          .label {
            font-size: 20px !important;
          }

          a {
            font-size: 30px!important;
          }
        }
        .call-us {
       padding-top: 1%;
          .label {
            font-size: 20px !important;
          }

          a {
            font-size: 30px!important;
          }
        }
        }
      }

      .social-media {
        ul {
          li {
            a {
              img {}
            }
          }
        }
      }
    }
  }

}