@import "@/styles/global.scss";
.faculty-member-section {
    background-color: #f4f4f6;
    .faculty-member-wrap {
        .dean-message-title {
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 0;
            padding: 0 20px 30px;
            font-size: 35px;
            span {
            }
        }
        .members-wrap{
            justify-content: space-around;
        }
    }
}

@media only screen and (min-width: 600px) {
    .faculty-member-section {
        .faculty-member-wrap {
            .dean-message-title {
               
                span {
                }
            }
            .members-wrap{
                width: 95%;
                margin: auto;
            }
        }
    }
}
@media only screen and (min-width: 1024px) {
    .faculty-member-section {
        padding-bottom: get-vw(75px);
        .faculty-member-wrap {
            .dean-message-title {
                font-size: get-vw(100px);
                font-style: normal;
                font-weight: 400;
                line-height: get-vw(90px);
                letter-spacing: get-vw(-4px);
                padding-bottom: get-vw(75px);
                span {
                }
            }
            .members-wrap {
                width: 100%;
                padding-right: get-vw(170px);
                padding-left: get-vw(170px);
            }

        }
    }
}
