@import "../../styles/global.scss";

.home-button{
    border-radius: 15px;
    background: rgba(186, 186, 186, 0.65);
    padding: 10px 30px;
    width: fit-content;
    color: #fff;
    font-family: var(--font-manrope);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    text-decoration: none;
    border: 2px solid #000;
    margin-right: 5px;
    &:first-child{
        background: #02AEC9;
    }
    &:last-child{
        margin: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .home-button{
        border-radius: get-vw(15px);
        padding: get-vw(17px) get-vw(60px);
        font-size: get-vw(20px);
        border: get-vw(2px) solid #000;
    }
}