@import "@/styles/global.scss";

.news-events-section {
  padding: 40px 20px;

  .news-evenst-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;

    .next-btn {
      padding: 10px 18px;
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      background-color: #e6e6e6;
      border-radius: 4px;
      color: #000;
      text-decoration: none;

      &--blue {
        background-color: #0073e6;
        color: #fff;
      }

      &.active-page {
        background-color: #004a99;
        color: #fff;
      }
    }
  }

  .school-box-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

  }

  @media screen and (max-width: 768px) {
    .school-box-wrap {
      width: 100% !important;
      padding: 0 !important;
    }

    .news-events-section {
      .school-box-single {
        padding: 0 !important;
      }
    }
  }

  .pagination-div {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 8px;

    a,
    span {
      // padding: 6px 12px;
      // font-size: 14px;
      // border: 1px solid #ccc;
      // border-radius: 4px;
      // text-decoration: none;
      // color: #333;

      &.current {
        // background-color: #0073e6;
        color: #fff;
        font-weight: 600;
      }

      &:hover {
        background-color: #f0f0f0;
      }
    }
  }

  @media screen and (min-width: 760px) {
    .school-box-inner-details {
      padding: 20px 20px 75px 20px !important;
    }
  }

  // ========== DESKTOP ENHANCEMENTS ==========
  @media screen and (min-width: 1200px) {
    padding: get-vw(60px) get-vw(40px);

    .next-btn {
      font-size: get-vw(14px);
    }

    .school-box-inner-details {
      padding: get-vw(23px) !important;
    }

    .btnn-next {
      font-size: get-vw(18px);
    }
  }
}

.page-numbers.ellipsis {
  background: none;
  border: none;
  cursor: default;
  padding: 0 10px;
  font-weight: bold;
}