// .difference-row {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   flex-wrap: wrap;
//   gap: 40px;

//   &.reverse {
//     flex-direction: row-reverse !important; // Force override
//   }

//   .text-block,
//   .image-block {
//     flex: 1 1 48%;
//     min-width: 280px;
//   }

//   .text-block {
//     h3 {
//       font-size: 20px;
//       font-weight: 700;
//       margin-bottom: 10px;
//     }

//     p {
//       font-size: 16px;
//       line-height: 1.6;
//       color: #444;
//     }
//   }

//   .image-block {
//     display: flex;
//     justify-content: center;

//     .difference-img {
//       width: 100%;
//       max-width: 360px;
//       height: auto;
//       border-radius: 12px;
//       object-fit: cover;
//       display: block;
//     }
//   }
// }

// @media (max-width: 768px) {
//   .difference-row,
//   .difference-row.reverse {
//     flex-direction: column !important;

//     .text-block,
//     .image-block {
//       text-align: center;
//     }

//     .image-block .difference-img {
//       max-width: 260px;
//     }
//   }
// }


.home-difference-section {
  padding: 0px 20px 40px;
  .home-difference-wrap {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    .single-difference {
          padding-bottom: 0px;
      .difference-text {
            padding: 40px 20px 20px;
        .title-wrap {
          .title-wrapper{
            .main-title-small{
               gap: 0px;
               padding-bottom: 20px;
              h2{
                font-size: 25px;
                font-style: normal;
                font-weight: 800;
                line-height: 35px;
                letter-spacing: -2px;
                margin: 0;
                span{

                }
              }
            }

          }
        }

        p {
        }
      }

      .difference-image {
        .difference-img {
          width: 100%;
          height: auto;
          border-radius: 12px;
          object-fit: cover;
        }
      }
    }
    .single-difference:not(:first-of-type) {
      display: none;
    }
  }
}

@media only screen and (min-width: 768px) {
.home-difference-section {
  .home-difference-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  .single-difference:not(:first-of-type) {
    display: block !important;
  }
    .single-difference:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      display: none !important;
    }

  }
}

}
@media only screen and (min-width: 992px) {
.home-difference-section {
  .home-difference-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 
    .single-difference:not(:nth-of-type(1)):not(:nth-of-type(2)) {
      display: block !important;
    }
    .single-difference {
    width: 32%;
}

  }
}

}
