@import "../../styles/global.scss";

.faculty-wrap {
    padding: 40px 0;
}
.single-faculity-card {
   padding: 0 20px 10px;
   margin: 0;   
  
    .single-faculity-card-wrap {
        position: relative;
        a{
            color: #333;
            text-decoration: none;
        }
        .single-faculity-card-image {      
            position: relative;  
            img {
                height: 300px;
                object-fit: cover;
                border-radius: 35px;
                
            }
            &::after{
                content: "";
                z-index: 1;
                background: linear-gradient(0deg, #0a0a0c -5.45%, #0a0a0c00 69.54%);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                border-radius: 35px;
               }
        }
        .single-faculity-card-content {
            h1 {
               padding: 20px 0 10px;
               span{
                color: #02AEC9;
               }
            }
            .faculity-intro {
              span{
                font-weight: 700;

              }
            }
        }
    }
}

@media screen and (min-width: 990px) {
    .faculty-wrap {
        padding: 60px 0;
    }
    .single-faculity-card {
        padding: 0 40px 20px;

         .single-faculity-card-wrap {
            
     
             .single-faculity-card-image {
                
                 img {
                    
                 }
             }
     
             .single-faculity-card-content {
                 h1 {
                    padding: 20px 0px 10px;           
                }
                 p {
                   
                 }
             }
         }
     }
}
@media screen and (min-width: 1200px) {
.faculty-wrap {
    padding: get-vw(80px) 0;
}
    .single-faculity-card {
        padding: 0 get-vw(204px) get-vw(20px); 
         .single-faculity-card-wrap { 
             position: relative;       
             .single-faculity-card-image {
                 img {
                    height: get-vw(681px);
                 }
             }     
             .single-faculity-card-content {
                position: absolute;
                bottom: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                color: #fff;
                z-index: 2;
                padding-bottom: get-vw(60px);
                .faculity-title{
                    width: get-vw(580px);
                    h1 {
                        padding: 0 0 0 get-vw(60px);  
                        font-size: get-vw(100px);
                        font-weight: 700;
                        line-height: get-vw(80px);
                        letter-spacing: get-vw(-8px);               
                        }
                }
                .faculity-intro{
                    width: calc(100% - get-vw(600px));
                    padding-right: get-vw(128px);
                    p {
                        font-size: get-vw(2px);
                        font-style: normal;
                        font-weight: 700;
                        line-height: get-vw(26px); 
                        letter-spacing: get-vw(-0.4px);
                    }
                }
                
                 
             }
         }
     }
}