@import "@/styles/global.scss";

.title-wrapper {
  .main-title-large {
    font-family: var(--font-poppins);
    color: #383636;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;
    /* 90% */
    letter-spacing: -2px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    h2 {
      text-align: center;
      color: #383636;
      font-size: 50px;
      font-style: normal;
      font-weight: 800;
      line-height: 45px;
      /* 90% */
      letter-spacing: -2px;
    }

    span {
      color: #02aec9;
    }
  }

  @media only screen and (min-width: 1200px) {
    .main-title-large {
      font-size: get-vw(120px);
      line-height: get-vw(80px);
      /* 90% */
      letter-spacing: get-vw(-6px);
      text-align: left;
      justify-content: flex-start;

      h2 {
        font-size: get-vw(120px);
        line-height: get-vw(100px);
        /* 90% */
        letter-spacing: get-vw(-6px);
      }
    }
  }
}