@import "@/styles/global.scss";

.ourvision-section {
    padding: 20px 16px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 50%;
        z-index: -1;
        left: 0;
        right: 0;
        bottom: 20%;
        width: 100%;
        // background: linear-gradient(90deg, rgba(176, 216, 226, 0.00) 0%, #B0D8E2 28.37%, #ADD5DF 100%);
        background: linear-gradient(90deg,
        rgba(176, 216, 226, 0.00) 0%,
        var(--main-title-color, #00aecd) 28.37%,
        var(--main-title-color, #00aecd) 100%);
        background-size: cover;
    }

    .ourvision-section-wrap {
        padding-top: 40px;

        .ourvision-title-wrap {
            .ourvision-title {
                color: #02AEC9;
                font-size: 50px;
                font-style: normal;
                font-weight: 900;
                line-height: 36px;
                letter-spacing: -4px;
                text-transform: capitalize;
                text-align: center;

                span {
                    color: #383636;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -2.696px;

                    strong {
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        letter-spacing: -2.696px;
                    }
                }
            }

            .ourvision-image-content {
                flex-direction: column;
            }

            img {
                width: 100%;
                object-fit: contain;
                height: auto;
            }
        }

        .ourvision-details {
            padding: 0 20px;

            .single-branch {
                border-radius: 20px;
                border: 1px solid #D9D9D9;
                background: #FFF;
                padding: 20px;
                margin-bottom: 20px;
                text-align: center;

                .branch-title {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    color: var(--main-title-color, #00aecd);
                    margin-bottom: 20px;
                    text-align: center;
                }

                .branch-details {
                    .address {
                        padding-bottom: 15px;

                        p {
                            margin-bottom: 0;
                        }

                        .label {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            letter-spacing: 0.4px;
                            margin: 0;
                            padding-bottom: 5px;
                        }

                        p {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -1.5px;
                            text-decoration: none;
                            color: #000;
                        }
                    }

                    .email {
                        padding-bottom: 15px;

                        .label {
                            margin-bottom: 0;
                            padding-bottom: 5px;
                        }

                        a {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            letter-spacing: -1.5px;
                            text-decoration: none;
                            color: #000;
                        }
                    }

                    .call-us {
                        padding-bottom: 0px;

                        .label {
                            margin-bottom: 0;
                            padding-bottom: 5px;
                        }

                        a {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 30.9px;
                            letter-spacing: -1.5px;
                            text-decoration: none;
                            color: #000;
                        }
                    }
                }
            }
        }

        .social-media {
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                width: max-content;
                margin: auto;
                padding: 0;

                li {
                    a {
                        img {
                            width: 50px;
                            height: 50px;
                            object-fit: contain;
                            margin: 0 10px;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    .ourvision-section {
        min-height: get-vw(680px);
        padding: get-vw(0px) get-vw(100px) get-vw(80px);

        &::after {
            height: get-vw(300px);
            top: get-vw(395px);
        }

        .ourvision-section-wrap {
            // padding-top: get-vw(0px);

            .ourvision-title-wrap {
                .ourvision-title {
                    font-size: get-vw(158.228px);
                    font-style: normal;
                    font-weight: 900;
                    line-height: get-vw(80.19px);
                    letter-spacing: get-vw(-8.911px);
                    text-align: start;
                    padding-left: get-vw(160px);

                    span {
                        font-size: get-vw(94.931px);
                        letter-spacing: get-vw(-5.696px);
                        padding-left: get-vw(13px);

                        strong {
                            font-size: get-vw(94.931px);
                            letter-spacing: get-vw(-5.696px);
                        }
                    }
                }

                .ourvision-image-content {
                    flex-direction: row;

                    .our-vision-content {
                        p {
                            margin-top: get-vw(100px);
                            font-weight: 800;
                            font-size: get-vw(16px);
                        }
                    }
                }

                img {
                    width: get-vw(1128px);
                    height: get-vw(550px);
                    top: get-vw(260px);
                    left: get-vw(-50px);
                }
            }
        }
    }
}