@import "@/styles/global.scss";

.home-courses {
  margin-bottom: 40px;
  overflow: hidden;

  .main-wrap-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 40px;

    .title-wrap {
      padding-bottom: 30px;
    }
  }

  .slider-wrap {
    .courses-slider {
      // display: flex;
      // align-items: flex-start;
      // justify-content: flex-start;

      .slick-track {
        margin: 0;
      }

      .slick-slide {
        padding: 0 5px;

        .item {
          .course-box-wrap {
            .course-box {
              position: relative;

              .course-box-img {
                img {
                  object-position: top;
                }

                .course-box-img-content-inner {
                  h6 {
                    font-family: var(--font-poppins);
                  }

                  p {
                    font-family: var(--font-manrope);
                    font-size: 14px;
                  }
                }

                &::before {
                  background: url(/images/grid.png);
                  position: absolute;
                  left: 0;
                  top: 0;
                  content: "";
                  background-size: cover;
                  background-repeat: no-repeat;
                  z-index: 2;
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .main-wrap-title {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      .title-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 0;

        .title-wrapper {
          .main-title-small {
            justify-content: flex-start;
          }
        }
      }

      .button-wrap {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }


  @media only screen and (min-width: 992px) {
    .course-box-wrap {
      width: 100% !important;
    }

  }

  @media only screen and (min-width: 1200px) {
    margin-bottom: get-vw(100px);

    .main-wrap-title {
      padding: 0 get-vw(120px) get-vw(50px);
    }

    .slider-wrap {
      .courses-slider {
        &.slick-slider {
          .slick-arrow {
            &.slick-prev {
              left: get-vw(30px);
              top: get-vw(300px);
              z-index: 5;

              &::before {
                font-size: get-vw(60px);
                padding: 20px;
                color: rgba(173, 173, 173, 0.8);
                opacity: 1;
                // backdrop-filter: blur(45px);
                // border: get-vw(2px) solid rgba(255, 255, 255, 0.10);
              }
            }

            &.slick-next {
              right: get-vw(60px);
              top: get-vw(300px);

              // border: get-vw(2px) solid rgba(255, 255, 255, 0.10);
              &::before {
                font-size: get-vw(60px);
                color: rgba(173, 173, 173, 0.45);
                opacity: 1;
                // backdrop-filter: blur(45px);
              }
            }
          }
        }

        .slick-list {
          padding: 0 0 0 10%;
        }

        .slick-slide {
          padding: 0 get-vw(3px);

          .item {
            .course-box-wrap {
              width: 100%;
              padding: 0;

              .course-box {
                .course-box-img {
                  img {
                    height: get-vw(736px);
                    object-position: top !important;
                  }
                }

                .course-box-img-content-inner h6 {
                  font-size: get-vw(28px);
                  line-height: get-vw(30px);
                  /* 107.143% */
                  letter-spacing: get-vw(-0.84px);
                }
              }
            }
          }
        }
      }
    }
  }
}