@import "@/styles/global.scss";

.home-universities {
  padding: 0 20px;

  .home-uni-wrap {
    .uni-content-wrap {
      .title-wrapper {
        padding-bottom: 30px;
      }

      .uni-content {
        padding-bottom: 30px;
      }
    }

    .uni-slider-wrap {
      padding-bottom: 40px;

      .uni-image-slider {
        .single-slider {
          .uni-image-wrapper {
            position: relative;

            .uni-main-image {
              height: 300px;
              object-fit: cover;
              object-position: right;
              width: 100%;
            }

            .uni-logo {
              position: absolute;
              top: 20px;
              left: 20px;
              z-index: 5;

              .uni-logo-image {
                height: 50px;
                width: 100px;
                object-fit: contain;
                object-position: left;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .home-universities {
    .home-uni-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .uni-slider-wrap {
        .uni-image-slider {
          .single-slider {
            .uni-image-wrapper {
              .uni-logo {
                .uni-logo-image {
                  height: 70px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .home-universities {
    padding: get-vw(60px) get-vw(120px) get-vw(130px);

    // background-color: #fff;
    .home-uni-wrap {
      background-color: #fff;
      padding: get-vw(60px);
      justify-content: space-between;
      border-radius: get-vw(20px);

      .uni-content-wrap {
        width: 52%;

        .uni-content {
          padding-top: get-vw(40px);
          padding-bottom: 0;
        }
      }

      .uni-slider-wrap {
        width: 38%;

        .slick-dots {
          width: 100%;
          display: flex !important;
          justify-content: center;
          position: relative !important;
          flex-direction: row;
          height: auto;

          li {
            width: 100%;
            padding: 0;
            margin: 0;
            height: auto;

            &.slick-active button:before {
              opacity: 0.75;
              color: transparent;
              border-radius: 0px 10px 10px 0px;
            }

            .slick-active {
              button {
                height: 8px;

                &::after {
                  background-color: var(--main-title-color, red);
                  height: 8px;
                }
              }
            }

            button {
              padding: 0;
              width: 100%;
              height: get-vw(0px);

              &::before {
                width: 100%;
                background-color: var(--main-title-color, red);
                height: 8px;
                opacity: 0.2;
                color: transparent !important;

                border-radius: 10px 0px 0px 10px;
              }
            }
          }
        }

        .uni-image-slider {
          .single-slider {
            .uni-image-wrapper {
              .uni-main-image {
                border-radius: get-vw(20px);
                height: get-vw(400px);
              }
            }
          }
        }
      }
    }
  }
}
